<div class="container px-7 py-8" id="artisti">
  <h1 class="text-uppercase mb-5">primo piano</h1>

  <p>
    Immergiti nei talenti emergenti che stanno facendo parlare di sé!
    Approfondisci i profili degli artisti, lasciati trasportare dalle loro
    tracce e preparati a vivere le loro performance dal vivo!
  </p>


<div class="row  my-3">
  <div class="col mx-3" *ngFor="let artist of artisti">
    <div class="card h-100"  (click)="openModal(artist.id)">
      <img [src]="artist.avatar" class="card-img-top" alt="{{ artist.nomeArtista }}">
      <div class="card-body text-center">
        <h5 class="card-title">{{ artist.nomeArtista }}</h5>
      </div>
    </div>
  </div>
</div>

<div class="text-start mt-4">
  <a class="btn btn-custom" [routerLink]="['/artisti']">VISUALIZZA TUTTI →</a>
</div>
</div>

<!-- <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="100000">
        <div class="d-flex justify-content-around">
          <div class="w-25">
            <img class="w-50 rounded" src= "../../../assets/DSC_0677.jpg" alt="img 1">
          </div>
          <div class="w-25">
            <img class="w-50 rounded" src= "../../../assets/DSC_0677.jpg" alt="img 1">
          </div>
          <div class="w-25">
            <img class="w-50 rounded" src= "../../../assets/DSC_0677.jpg" alt="img 1">
          </div>
    </div>
  
  
    </div>
      <div class="carousel-item" data-bs-interval="20000">
        <div class="d-flex justify-content-around align-items-center">
            <div class="w-25">
                <img class="w-50 rounded" src= "../../../assets/DSC_0677.jpg" alt="img 1">
              </div>
              <div class="w-25">
                <img class="w-50 rounded" src= "../../../assets/DSC_0677.jpg" alt="img 1">
              </div>
              <div class="w-25">
                <img class="w-50 rounded" src= "../../../assets/DSC_0677.jpg" alt="img 1">
              </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-around">
            <div class="w-25">
                <img class="w-50 rounded" src= "../../../assets/DSC_0677.jpg" alt="img 1">
              </div>
              <div class="w-25">
                <img class="w-50 rounded" src= "../../../assets/DSC_0677.jpg" alt="img 1">
              </div>
              <div class="w-25">
                <img class="w-50 rounded" src= "../../../assets/DSC_0677.jpg" alt="img 1">
              </div>
  
  
       </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next ms-3" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div> -->

<!-- <div class="container mt-5">
    <h2 class="text-center">IN PRIMO PIANO</h2>
    <p class="text-center">
      Immergiti nei talenti emergenti che stanno facendo parlare di sé!
      Approfondisci i profili degli artisti, lasciati trasportare dalle loro
      tracce e preparati a vivere le loro performance dal vivo!
    </p>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
       
      </div>
      
      <div class="carousel-inner">

        <div class="carousel-item carousel-item-1 active">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
              <aside class="card team1">
                  <img src="../../../assets/DSC_0677.jpg" alt="">
                 
              </aside>
              </div>
              
              <div class="col">
              <aside class="card team2">
                  <img src="../../../assets/DSC_0677.jpg" alt="">
                  
                 
              </aside>
              </div>
              
              <div class="col">
              <aside class="col card team3 ">
                  <img src="../../../assets/DSC_0677.jpg" alt="">
                  
              </aside>
              </div>
          </div>
        </div>


      
        <div class="carousel-item carousel-item-2">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <div class="col">
              <aside class="card team4">
                  <img src="../../../assets/DSC_0677.jpg" alt="">
                  
                </aside>
              </div>

              <div class="col">
                <aside class="card team5">
                    <img src="../../../assets/DSC_0677.jpg" alt="">
                    
                  </aside>
              </div>

              <div class="col">
                  <aside class="card team6">
                    <img src="../../../assets/DSC_0677.jpg" alt="">
                    
                  </aside>
          </div>
        </div>
      </div>
    </div>

    <div class="control-btn">
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <i class="fa-solid fa-arrow-right"></i>

        <span class="carousel-control-next-icon visually-hidden" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon visually-hidden" aria-hidden="true"></span>
        <i class="fa-solid fa-arrow-left"></i>
        <span class="visually-hidden">Previous</span>
      </button>
  </div>
  </div> -->

<app-prossimi-eventi></app-prossimi-eventi>
