<div class="container-fluid px-7 py-8">
    <h1 class="text-uppercase">stay tuned</h1>

    <div class="my-5">
        <form>
            <div class="container-fluid px-0">
                <input class="form-group col-md-1 me-2 py-2" type="text" id="nome" name="nome" placeholder="Nome" />

                <input class="form-group col-md-1 ms-2 py-2" type="text" id="cognome" name="cognome" placeholder="Cognome" /> <br>

                <input class="form-group col-md-3 py-2 mt-4" type="text" id="email" name="email" placeholder="Email" />

            </div>
            <button type="button" class="btn btn-light bg-white button d-flex mt-4 text-uppercase">invia</button>
        </form>
    </div>
</div>