<div class="container" *ngIf="user">
    <div class="row mt-5">
        <div class="col-md-3 text-center pe-0">
          <div class="immagine">
            <img [src]="user.avatar || 'assets/omino.png'" alt="Avatar" (click)="triggerFileInput()"
              onerror="this.onerror=null; this.src='assets/omino.png'" />
            <input type="file" id="fileInput" (change)="onFileSelected($event)" hidden />
          </div>
        </div>
        <div class="col-md-9 p-0">
          <button class="btn btn-secondary mb-4">Modifica profilo</button>
        </div>
      </div>
    <h1 class="text-uppercase">profilo</h1>
    <h3>{{ user.nome }} {{ user.cognome}}</h3>


    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Eventi Prenotati</h5>
        <div *ngIf="eventiPrenotati.length > 0; else noEventiPrenotati">
          <ul class="list-group">
            <li *ngFor="let evento of eventiPrenotati" class="list-group-item d-flex justify-content-between align-items-center">
              <span>{{ evento.nome }} - {{ evento.data | date:'dd MMMM' }} - {{ evento.luogo }}</span>
              <button class="btn btn-primary btn-sm" (click)="goToEventDetails(evento.id)">Dettagli</button>
            </li>
          </ul>
        </div>
        <ng-template #noEventiPrenotati>
          <p>Non hai prenotato nessun evento.</p>
        </ng-template>
      </div>
    </div>
  </div>