* {
    background-color: #8338EC;
    color: white;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
}

p {
    font-size: 1.2rem;
    line-break: normal;
    margin-bottom: 0;
}

a {
    color: #8338EC;
}

a:hover {
    text-decoration: none;
}

.numero {
    text-align: end;
    font-size: 1.3rem;
    font-weight: 800;
}

.rank {
  font-size: 2em;
  font-weight: bold;
}

.cover-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.play-button {
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
}

.details-link {
  margin-left: auto;
  font-size: 1em;
  color: white;
  text-decoration: none;
}

.details-link:hover {
  text-decoration: underline;
}