<div class="backgroundImage d-flex align-items-center justify-content-center">
    <div class="d-flex flex-column align-items-center">
        <h1 class="text-light text-center">La tua prossima canzone preferita è qui.</h1>
        <h6 class="text-light">Unisciti alla rivoluzione musicale e scopri i migliori artisti emergenti del momento.</h6>    
        <button type="button" class="btn btn-light button d-flex mt-5"> <span class="material-symbols-outlined me-2">
            graphic_eq
            </span> INIZIA AD ASCOLTARE</button>
    </div>
</div>
<app-nome-progetto></app-nome-progetto>