* {
    color: #8338EC;
    font-weight: bold;
}

.navbar-scrolled {
    background-color: #8338EC;
    color: white;
    transition: background-color 0.5s;
  }

  .navbar-scrolled a {
    color: white;
  }

