<nav class="navbar navbar-expand-lg position-sticky top-0 start-0 px-10" *ngIf="!nascondi" [ngClass]="{'navbar-scrolled': isScrolled}">
  <div class="container-fluid my-2">
    <a class="navbar-brand" [routerLink]="['/']"><img src="../../../assets/MuzikFest.svg" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#discovery">Discovery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/artisti']">Artisti</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#eventi">Eventi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contatti</a>
        </li>
        <li *ngIf="isArtist()"  class="nav-item">
          <a class="nav-link" [routerLink]="['/dashboardArtista']">Dashboard</a>
        </li>
        <li *ngIf="!user" class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="user" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/profilo']" routerLinkActive="active">Profilo</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" (click)="logout()">LogOut</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
