<div class="container text-center">
  <div class="row">
    <form   #registerForm="ngForm" (ngSubmit)="onSubmitRegister(registerForm)">
      <h1>Crea Account</h1>
      <div class="col-4 d-grid gap-2 mx-auto text-end">
      <input  type="text" placeholder="Nome" id="nomeRegister" name="nomeRegister" required class="form-control my-2" ngModel />
      <input type="text" placeholder="Cognome" id="cognomeRegister" name="cognomeRegister" required class="form-control " ngModel />
      <input type="email" placeholder="Email" id="emailRegister" name="emailRegister" required class="form-control my-2" ngModel  />
      <input type="password" placeholder="Password" id="passwordRegister" name="passwordRegister" required class="form-control " ngModel />
      </div>
      <div class="col-4 d-grid gap-2 mx-auto my-3">
        <button class="btn btn-custom mt-2" type="submit" [disabled]="registerForm.invalid" >Registrati</button>
      </div>
      <p style="font-size: smaller;">Continuando, accetti i Termini di Utilizzo e l'Informativa sulla privacy.</p>
   
      </form>
      <div class="footer-col mt-4">
        <p>Registrati con:</p>
        <div class="social-links">
          <a href="#"><i class="bi bi-facebook"></i></a>
          <a href="#"><i class="bi bi-twitter"></i></a>
          <a href="#"><i class="bi bi-google"></i></a>
          <a href="#"><i class="bi bi-apple"></i></a>
        </div>
      </div>
  </div>
  </div>