<div class="container-fluid pb-9">
  <div class="row">
    <div class="col-12 col-md-8 px-6">
      <h1 class="text-uppercase px-3 mt-7">prossimi eventi</h1>
      <p class="px-3 mt-4">
        Non perderti i prossimi festival. Prenota i biglietti degli eventi che
        preferisci direttamente dalla nostra piattaforma!
      </p>
    </div>
  </div>
    <div class="container mt-6">
      <div class="row bordinoNero">
        <div class="col-1 d-flex">10 Luglio</div>
        <div class="col-8">
          <h6>INDIEMEN - Nero Mascara</h6>
          <p class="fw-light">Flava Beach</p>
        </div>
        <div class="col-3 pb-2 d-flex align-items-center justify-content-end">
          <div class="button px-3 py-1 fs-6 disponibili">
            <span class="material-symbols-outlined"> confirmation_number </span>
            &nbsp; DISPONIBILI
          </div>
          <span class="material-symbols-outlined mx-2 d-flex">
            arrow_right_alt
          </span>
        </div>
      </div>

      <div class="row bordinoNero mt-3">
        <div class="col-1">11 Luglio</div>
        <div class="col-8">
          <h6 class="text-uppercase">Celestial Vibrations</h6>
          <p class="fw-light">Ostello Bello, Napoli</p>
        </div>
        <div class="col-3 pb-2 d-flex align-items-center justify-content-end">
          <div class="button px-3 py-1 fs-6 in-esaurimento">
            <span class="material-symbols-outlined"> confirmation_number </span>
            &nbsp; IN ESAURIMENTO
          </div>
          <span class="material-symbols-outlined mx-2 d-flex">
            arrow_right_alt
          </span>
        </div>
      </div>

      <div class="row bordinoNero mt-3">
        <div class="col-1">12 Luglio</div>
        <div class="col-8">
          <h6 class="text-uppercase">Fete de la musique - 2024</h6>
          <p class="fw-light">Liceo Chateaubriand, Roma</p>
        </div>
        <div class="col-3 pb-2 d-flex align-items-center justify-content-end">
          <div class="button px-3 py-1 fs-6 disponibili">
            <span class="material-symbols-outlined"> confirmation_number </span>
            &nbsp; DISPONIBILI
          </div>
          <span class="material-symbols-outlined mx-2 d-flex">
            arrow_right_alt
          </span>
        </div>
      </div>

      <div class="row bordinoNero mt-3">
        <div class="col-1">13 Luglio</div>
        <div class="col-8">
          <h6 class="text-uppercase">farci sentire</h6>
          <p class="fw-light">Saviano, Napoli</p>
        </div>
        <div class="col-3 pb-2 d-flex align-items-center justify-content-end">
          <div class="button px-3 py-1 fs-6 esauriti">
            <span class="material-symbols-outlined"> confirmation_number </span>
            &nbsp; ESAURITI
          </div>
          <span class="material-symbols-outlined mx-2 d-flex">
            arrow_right_alt
          </span>
        </div>
      </div>

      <div class="row bordinoNero mt-3">
        <div class="col-1">14 Luglio</div>
        <div class="col-8">
          <h6 class="text-uppercase">Meeting del Mare</h6>
          <p class="fw-light">Marina di Camerota, Salerno</p>
        </div>
        <div class="col-3 pb-2 d-flex align-items-center justify-content-end">
          <div class="button px-3 py-1 fs-6 disponibili">
            <span class="material-symbols-outlined"> confirmation_number </span>
            &nbsp; DISPONIBILI
          </div>
          <span class="material-symbols-outlined mx-2 d-flex">
            arrow_right_alt
          </span>
        </div>
      </div>
    </div>

  <!-- <div class="row bordinoNero align-items-center mt-3">
    <div class="col-1">10 Luglio</div>
    <div class="col-8">
      <h6>INDIEMEN - Nero Mascara</h6>
      <p>Flava Beach</p>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
      <div class="button px-3 py-1 fs-6 in-esaurimento">
        <span class="material-symbols-outlined"> confirmation_number </span>
        &nbsp; IN ESAURIMENTO
      </div>
      <span class="material-symbols-outlined mx-2"> arrow_right_alt </span>
    </div>
  </div>

  <div class="row bordinoNero mt-3">
    <div class="col-1">10 Luglio</div>
    <div class="col-8">
      <h6>INDIEMEN - Nero Mascara</h6>
      <p>Flava Beach</p>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
      <div class="button px-3 py-1 fs-6 disponibili">
        <span class="material-symbols-outlined"> confirmation_number </span>
        &nbsp; DISPONIBILI
      </div>

      <span class="material-symbols-outlined mx-2"> arrow_right_alt </span>
    </div>
  </div>

  <div class="row bordinoNero mt-3">
    <div class="col-1">10 Luglio</div>
    <div class="col-8">
      <h6>INDIEMEN - Nero Mascara</h6>
      <p>Flava Beach</p>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
      <div class="button px-3 py-1 fs-6 esauriti">
        <span class="material-symbols-outlined"> confirmation_number </span>
        &nbsp; ESAURITI
      </div>
      <span class="material-symbols-outlined mx-2"> arrow_right_alt </span>
    </div>
  </div>

  <div class="row bordinoNero mt-3">
    <div class="col-1">10 Luglio</div>
    <div class="col-8">
      <h6>INDIEMEN - Nero Mascara</h6>
      <p>Flava Beach</p>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
      <div class="button px-3 py-1 fs-6 disponibili">
        <span class="material-symbols-outlined"> confirmation_number </span>
        &nbsp; DISPONIBILI
      </div>
      <span class="material-symbols-outlined mx-2"> arrow_right_alt </span>
    </div>
  </div>

  <div class="row bordinoNero mt-3">
    <div class="col-1">10 Luglio</div>
    <div class="col-8">
      <h6>INDIEMEN - Nero Mascara</h6>
      <p>Flava Beach</p>
    </div>
    <div class="col-3 d-flex align-items-center justify-content-end">
      <div class="button px-3 py-1 fs-6 disponibili">
        <span class="material-symbols-outlined"> confirmation_number </span>
        &nbsp; DISPONIBILI
      </div>
      <span class="material-symbols-outlined mx-2"> arrow_right_alt </span>
    </div> -->
  </div>
<app-stay-tuned></app-stay-tuned>
