<div class="container-fluid pb-9" id="eventi">
  <div class="row mb-6">
    <div class="col-12 col-md-8 px-6">
      <h1 class="text-uppercase px-3 mt-7">prossimi eventi</h1>
      <p class="px-3 mt-4">
        Non perderti i prossimi festival. Prenota i biglietti degli eventi che
        preferisci direttamente dalla nostra piattaforma!
      </p>
    </div>
  </div>
  <div *ngFor="let evento of prossimiEventi" class="container mt-3">
    <div class="row bordinoNero" [routerLink]="['/eventi', evento.id]">
      <div class="col-1 d-flex">{{ evento.data | date: 'dd MMMM' }}</div>
      <div class="col-8">
        <h6>{{ evento.nome }}</h6>
        <p class="fw-light">{{ evento.luogo }}</p>
      </div>
      <div class="col-3 pb-2 d-flex align-items-center justify-content-end">
        <div class="button d-flex align-items-center px-3 py-1 fs-6 disponibili" [ngClass]="{
          'disponibili': evento.statoBiglietti === 'DISPONIBILI',
          'in-esaurimento': evento.statoBiglietti === 'IN_ESAURIMENTO',
          'esauriti': evento.statoBiglietti === 'ESAURITI'
        }">
          <span class="material-symbols-outlined"> confirmation_number </span>
          &nbsp; {{ evento.statoBiglietti }}
        </div>
        <span class="material-symbols-outlined mx-2 d-flex">
          arrow_right_alt
        </span>
      </div>
    </div>
  </div>
  
 </div>
<app-stay-tuned></app-stay-tuned>
