<div
  class="container-fluid d-flex align-content-center justify-content-center flex-column p-7"
>
  <h1 class="my-5">NOMEPROGETTO</h1>

  <div class="d-flex flex-row mb-5">
    <div class="w-50">
      <p style="width: 60%;">
        Siamo più di una semplice piattaforma: con noi puoi immergerti in
        un'esperienza unica dove puoi scoprire tracce uniche, conoscere nuovi
        artisti e prenotare i tuoi eventi musicali preferiti.
      </p>
    </div>

    <div class="w-50">
      <p style="width: 60%;">
        Esplora la nostra vetrina di talenti emergenti, senza mai perderti le
        ultime novità nel mondo della musica - il prossimo grande successo
        potrebbe essere proprio dietro l'angolo, o potresti essere tu!
      </p>
    </div>
  </div>
  <a class="text-uppercase fs-4 d-flex align-items-center" href=""
    >scopri di più
    <span class="material-symbols-outlined mx-2"> arrow_right_alt </span></a
  >
</div>
<app-discovery></app-discovery>
