* {
    background-color: #EDE839;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    color: black;
}

p {
    font-size: 1.2rem;
    line-break: normal;
}

a {
    color:  #8338EC;
}

a:hover {
    text-decoration: none;
  }

